.page-footer {
    background-color: #272643;
    color: #fff;
}

.page-footer ul {
    list-style-type: none;
}

.page-footer ul li {
    margin: 10px;
}

ul img {
    width: 30px;
    margin: 5px;
}


/*------responsive----------*/