@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

.messages {
  width: 350px;
  margin: 0 auto;
}

.message_error {
  margin: 50px auto;
  color: #fff;
  background-color: red;
  text-align: center;
  border-radius: 10px;
  padding: 20px 30px;
  position: fixed;
}

.section-index1 {
  width: 100%;
  height: auto;
}

.desc-home {
  margin-top: 200px;
  width: 50%;
}

.desc-home p {
  text-align: justify;
}

.desc-home p {
  animation-duration: 3s;
  animation-name: slidein;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-right: 50%;
    width: 50%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.desc-home button {
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.desc-home span {
  display: none;
}

.desc-home button:hover {
  background-color: lightsteelblue;
}

.home-section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.home-section div:nth-child(2) {
  text-align: center;
}

.home-section img {
  width: 70%;
  margin-top: 100px;
}

/*---------*/

.section-index2 {
  width: 100%;
  background-color: #e3f6f5;
  height: auto;
}

.h1-notreSite {
  width: 100%;
  text-align: center;
  position: relative;
  top: -30px;
}

.h1-notreSite h1 {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  width: 320px;
  margin: 0 auto;
  box-shadow: 2px 0 25px grey;
  animation-duration: 3s;
  animation-name: section2Title;
  animation-direction: alternate;
}

@keyframes section2Title {
  from {
    background-color: #2c698d;
  }
  to {
    background-color: #fff;
  }
}

.allcards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 150px;
}

.allcards > div {
  border-radius: 10px;
  margin-top: 50px;
  overflow: hidden;
}

.card {
  height: auto;
}

.card:hover {
  box-shadow: 2px 0 25px grey;
  transition-duration: 0.2s;
}

.card img {
  width: 150px;
  margin: 10px auto;
}

/*-------------------*/

.section-index3 {
  width: 80%;
  height: auto;
  margin: 50px auto;
}

.lesSpans {
  text-align: start;
  background-color: #e3f6f5;
}

/*---------responsive--------------*/

@media (max-width: 600px) {
  .desc-home {
    margin-top: 200px;
    font-weight: bold;
    width: 90%;
  }
  .desc-home span {
    display: none;
  }
  .home-section div:nth-child(1) {
    text-align: center;
  }
}
