/* .blue {
  background-color: #e3f6f5;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

th {
  color: white;
  background-color: #272643;
  width: 50px;
}
td {
  width: 50px;
}
tr {
  border: 1px #272643 solid;
}
.table {
  width: 80%;
  float: right;
}
table {
  border-collapse: collapse;
  font-size: 8px;
}
.even {
  background-color: #e3f6f5;
} */
/* ------------------------------------------------------------------------------------ */

.graphBlock {
  display: inline;
  background-color: #272643;
  margin-right: 30px;
  border-radius: 10px;
  padding: 10px 30px;
  width: auto;
  height: auto;
}
.graph {
  display: flex;
  margin-top: 8px;
}
.canvas {
  display: inline;
  width: 200px;
  height: 200px;
}
.graphLabel {
  color: white;
  font-family: Poppins, sans-serif;
  margin-bottom: 5px;
}
section {
  width: 80%;
}
